*.exe
*.pck
*.PCK
*.jpg
*.ico
*.dll
*.so
*.dat
*.txt
*.ini
*.lib
*.iobj
*.ipdb
*.pdb

SG7.*
SANGO7.*

cap/**
Movie/**
Music/**
Save/**
Script/**
Setting/**
Shape/**
.vs/**
vs/**
deps/**

!LICENSE.txt
!COPYING.LESSER
!sanguo7.5
!deps/*.cmd
!deps/*.sh