*.exe
*.pck
*.PCK
*.jpg
*.ico
*.dll
*.so
*.dat
*.txt
*.ini
*.lib
*.iobj
*.ipdb
*.pdb
*.tmp
*.exp

SG7.*
SANGO7.*

cap/**
Movie/**
Music/**
Save/**
Script/**
Setting/**
Shape/**
**/.vs/**
vs/x64/**
vs/x86/**
**/Debug/**
**/Release/**

deps/**

!LICENSE.txt
!COPYING.LESSER
!sanguo7.5
!deps/*.cmd
!deps/*.sh
!*.sln
!*.vcxproj
!*.filters
!*.user
!art/**